
body, html{
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(to bottom, #ffffff, #4dccbd);
    color: #ffffff;
}

header{
    max-width: 100%;
    background-color: #231651;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    box-shadow: 0 0 .2rem #ffffff,
            0 0 .2rem #ffffff,
            0 0 2rem #4dccbd,
            0 0 0.8rem #4dccbd,
            0 0 2.8rem #4dccbd,
            inset 0 0 1.3rem #231651;
}

.logo{
    text-shadow: 0 0 2px #ffffff;
    font-size: 3em;
    font-family: "Teko", sans-serif;
    font-weight: 400;
    font-style: normal;
}

ul{
    font-size: 1em;
    display: flex;
    list-style: none;
    gap: 48px;
    text-align: center;
}

li{
    text-shadow: 0 0 2px #ffffff;
}
li:hover{
    text-shadow: 0 0 5px #ffffff;
    text-decoration: underline;
}

.btn{
    border: 3px solid #231651;
    font-size: 2em;
    padding: 16px;
    border-radius: 16px;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-color: #eef36a;
    color: #231651;
    transition: 0.3s;
    opacity: 0.7;
}

.btn:hover{
    opacity: 1;
    text-shadow: 0 0 2px #231651;
    border: 3px solid #ffffff;
    box-shadow: 0 0 .1rem #ffffff,
            0 0 .1rem #ffffff,
            0 0 1rem #4dccbd,
            0 0 0.5rem #4dccbd,
            0 0 1rem #4dccbd,
            inset 0 0 1rem #eef36a;

}



.container {
    max-width: 900px;
    margin: 48px auto; 
    justify-items: center; 
}

.featuredmovie {
    max-width: 900px;
    border: 2px solid #ffffff;
    width: 100%;
    overflow: hidden;
    border-radius: 16px;
    background-color: #231651; 
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;;
}

#rabbit {
    width: 100%;
    max-width: 900px;
    aspect-ratio: 16 / 9;
    position: relative;
    object-fit: cover;
    border-bottom: 2px solid #ffffff;
}

#rabbit::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, #231651 100%);
    z-index: 1;
    pointer-events: none; 
}

.texts {
    margin: 16px;
    display: flex;
    font-size: 1.4em;
    z-index: 2;
    justify-content: space-between;
    align-items: center;
}

.texts p {
    margin-left: 16px;
    margin-right: 16px;
    flex: 1;
    text-align: justify;
    z-index: 2;
    line-height: 1.5;
}

.lala {
    text-shadow: 0 0 1px #231651;
    box-shadow: 0 0 .1rem #ffffff,
            0 0 .1rem #ffffff,
            0 0 1rem #4dccbd,
            0 0 0.5rem #4dccbd,
            0 0 1rem #4dccbd,
            inset 0 0 1rem #4dccbd;
    border: 3px solid #ffffff;
    margin: 16px;
    padding: 16px;
    font-size: 2em;
    border-radius: 16px;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-color: #eef36a;
    z-index: 2;
    color: #231651;
    transition: 0.3s;
}

.lala:hover{
    padding: 25px;
    background-color: #231651;
    color: #eef36a;
    text-shadow: 0 0 3px #eef36a;
    border:#eef36a;
}


.movielist1, .movielist2 {
    margin: 16px;
    display: inline-block; 
    width: 45%; 
    overflow: hidden;
    border: #ffffff 2px solid;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 0 16px 16px 16px;
    background-color: #231651;
    color: #ffffff;
}
    

.movielist1 {
    border: #ffffff 2px solid;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    font-size: 1.4em;
    border-radius: 0 16px 16px 16px;
    background-color: #231651;
    color: #ffffff;
}

.movielist2{
    border: #ffffff 2px solid;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    font-size: 1.4em;
    border-radius: 0 16px 16px 16px;
    background-color: #231651;
    color: #ffffff;
}

.movie_texts{
    display: flex;
    flex-direction: column;
    margin: 16px; 
    text-align: justify;
    justify-content: space-between;
    color: #ffffff;
}

.movie_texts p{
    margin: 16px;
    line-height: 1.5;
}


.now{
    text-shadow: 0 0 1px #231651;
    border: 3px solid #ffffff;
    margin: 16px;
    color: #231651;
    font-size: 2em;
    border-radius: 16px;    
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-color: #eef36a;
    width: 90%;  
    padding: 16px;
    display: block;  
    box-shadow: 0 0 .1rem #ffffff,
            0 0 .1rem #ffffff,
            0 0 1rem #4dccbd,
            0 0 0.5rem #4dccbd,
            0 0 1rem #4dccbd,
            inset 0 0 1rem #4dccbd;
    transition: 0.3s;
}

.now:hover{
    padding: 25px;
    background-color: #231651;
    color: #eef36a;
    text-shadow: 0 0 3px #eef36a;
    border:#eef36a;
}

#hook {
    width: 100%;
    object-fit: cover;
    border-bottom: 2px solid #ffffff;
}

#land{
    width: 100%;
    object-fit: cover;
    border-bottom: 2px solid #ffffff;
    
}

#hidden{
    border-right: 2px solid #ffffff;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

#palm{
    border-right: 2px solid #ffffff;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#barbie{
    border-right: 2px solid #ffffff;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}


.movie {
    border: 2px solid #ffffff;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background-color: #231651;
    color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    margin-top: 16px;
    overflow: hidden;
    border-radius: 0 16px 16px 16px;
}

.info {
    display: flex;
    flex-direction: column;
    margin: 16px;
    font-size: 1.4em; 
    text-align: justify;
    justify-content: space-between;
    color: #ffffff;
}

.info p{
    line-height: 1.5;
    margin: 16px;
}

.watch{
    text-shadow: 0 0 1px #231651;
    border: 3px solid #ffffff;
    margin: 16px;
    color: #231651;
    font-size: 2em;
    border-radius: 16px;    
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-color: #eef36a;
    width: 90%;  
    padding: 16px;
    display: block;  
    box-shadow: 0 0 .1rem #ffffff,
            0 0 .1rem #ffffff,
            0 0 1rem #4dccbd,
            0 0 0.5rem #4dccbd,
            0 0 1rem #4dccbd,
            inset 0 0 1rem #4dccbd;
    transition: 0.3s;
}
        
.watch:hover{
    padding: 25px;
    background-color: #231651;
    color: #eef36a;
    text-shadow: 0 0 3px #eef36a;
    border:#eef36a;
}

   

@media only screen and (max-width: 1024px){
    body, html{
        margin: 0;
        padding: 0;
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-style: normal;
        background: linear-gradient(to bottom, #ffffff, #4dccbd);
        color: #ffffff;
    }
    
    header{
        max-width: 100%;
        background-color: #231651;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
        box-shadow: 0 0 .2rem #ffffff,
                0 0 .2rem #ffffff,
                0 0 2rem #4dccbd,
                0 0 0.8rem #4dccbd,
                0 0 2.8rem #4dccbd,
                inset 0 0 1.3rem #231651;
    }
    
    .logo{
        text-shadow: 0 0 2px #ffffff;
        font-size: 3em;
        font-family: "Teko", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    
    ul{
        font-size: 1em;
        display: flex;
        list-style: none;
        gap: 48px;
        text-align: center;
    }
    
    li{
        text-shadow: 0 0 2px #ffffff;
    }
    li:hover{
        text-shadow: 0 0 5px #ffffff;
        text-decoration: underline;
    }
    
    .btn{
        border: 3px solid #231651;
        font-size: 2em;
        padding: 16px;
        border-radius: 16px;
        font-family: "Teko", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        background-color: #eef36a;
        color: #231651;
        transition: 0.3s;
        opacity: 0.7;
    }
    
    .btn:hover{
        opacity: 1;
        text-shadow: 0 0 2px #231651;
        border: 3px solid #ffffff;
        box-shadow: 0 0 .1rem #ffffff,
                0 0 .1rem #ffffff,
                0 0 1rem #4dccbd,
                0 0 0.5rem #4dccbd,
                0 0 1rem #4dccbd,
                inset 0 0 1rem #eef36a;
    
    }
    
    .container {
        max-width: 900px;
        padding: 32px;
        gap: 16px; 
        justify-items: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        align-items: stretch;
    }
    
    .featuredmovie{
        display: flex;
        flex-direction: column;
        border: 2px solid #ffffff;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        background-color: #231651;
        color: #ffffff; 
        overflow: hidden;
        border-radius: 16px;
    }
    
    .texts{
        font-size: 1.2em; 
        display: block;
        justify-content: space-between;
        color: #ffffff;
        flex-grow: 1;
    }

    .texts p{
        padding: 10px;
        margin: 32px;
        text-align: center;
        line-height: 1.5;
    }
    
    .lala{
        text-shadow: 0 0 1px #231651;
        border: 3px solid #ffffff;
        color: #231651;
        border-radius: 16px;    
        font-family: "Teko", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-size: 2em;
        font-style: normal;
        background-color: #eef36a;
        width: 90%;  
        padding: 16px;
    }

    #rabbit{
        aspect-ratio: 0;
        border: 2px solid #ffffff;
        width: 90%;
        border-radius: 16px;
        margin: 16px auto 5px auto;
        height: auto;
    }

    #rabbit::after{
        display: none;
    }

    .movielist1, .movielist2{
        margin:0;
    }

    .movielist1 {
        margin: 0;
        margin-top: 0;
        width: 100%;
        border: #ffffff 2px solid;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        overflow: hidden;
        border-radius: 16px;
        font-size: 1.2em;
        background-color: #231651;
        color: #ffffff;
        display: flex;
        flex-direction: column;
    }

    .movielist2{
        width: 100%;
        border: #ffffff 2px solid;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        overflow: hidden;
        font-size: 1.2em;
        border-radius: 16px;
        background-color: #231651;
        color: #ffffff;
        display: flex;
        flex-direction: column;
    }
    
    .movie_texts {
        display: block;
        justify-content: space-between;
        color: #ffffff;
    }
    
    .movie_texts p{
        text-align: center;
        line-height: 1.5;
        margin: 32px;
    }
    
    .now{
        text-shadow: 0 0 1px #231651;
        border: 3px solid #ffffff;
        margin: 16px;
        color: #231651;
        font-size: 2em;
        border-radius: 16px;    
        font-family: "Teko", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        background-color: #eef36a;
        width: 90%;  
        padding: 16px;  
        box-shadow: 0 0 .1rem #ffffff,
                0 0 .1rem #ffffff,
                0 0 1rem #4dccbd,
                0 0 0.5rem #4dccbd,
                0 0 1rem #4dccbd,
                inset 0 0 1rem #4dccbd;
        transition: 0.3s;
    }
            
    .now:hover{
        padding: 25px;
        background-color: #231651;
        color: #eef36a;
        text-shadow: 0 0 3px #eef36a;
        border:#eef36a;
}

    
    #hook {
        border: 2px solid #ffffff;
        width: 90%;
        border-radius: 16px;
        margin: 16px auto;
        height: auto;
        padding: auto;
    }
    
    #land{
        border: 2px solid #ffffff;
        width: 90%;
        border-radius: 16px;
        margin: 16px auto;
        height: auto;
        padding: auto;
        
    }
    
    #hidden{
        border: 2px solid #ffffff;
        width: 90%;
        border-radius: 16px;
        margin: 16px auto 0 auto;
        height: auto;
        padding: auto;
        
    }
    
    #palm{
        border: 2px solid #ffffff;
        width: 90%;
        border-radius: 16px;
        margin: 16px auto;
        height: auto;
    }
    
    #barbie{
        border: 2px solid #ffffff;
        width: 90%;
        border-radius: 16px;
        margin: 16px auto 5px auto;
        height: auto;

        
    }

    .movie {
        margin-top: 0;
        border: 2px solid #ffffff;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        background-color: #231651;
        color: #ffffff;
        grid-template-columns: none; 
        overflow: hidden;
        border-radius: 16px;
    }
    
    .info {
        display: flex;
        flex-direction: column;
        margin: 16px;
        font-size: 1.2em; 
        text-align: justify;
        justify-content: space-between;
        color: #ffffff;
    }
    
    .info p{
        text-align: center;
        line-height: 1.5;
        margin: 16px;
    }
    
    .watch{
        text-shadow: 0 0 1px #231651;
        border: 3px solid #ffffff;
        margin: 16px;
        color: #231651;
        font-size: 2em;
        border-radius: 16px;    
        font-family: "Teko", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        background-color: #eef36a;
        width: 90%;  
        padding: 16px;
        display: block;  
        box-shadow: 0 0 .1rem #ffffff,
                0 0 .1rem #ffffff,
                0 0 1rem #4dccbd,
                0 0 0.5rem #4dccbd,
                0 0 1rem #4dccbd,
                inset 0 0 1rem #4dccbd;
        transition: 0.3s;
    }
            
    .watch:hover{
        padding: 25px;
        background-color: #231651;
        color: #eef36a;
        text-shadow: 0 0 3px #eef36a;
        border:#eef36a;
    }
}


@media only screen and (max-width: 720px){
    
    .logo{
        font-size: 2em;
    }
    ul{
        display: none;
    }
    
    .btn{
        margin: 16px;
        font-size: 2em;
        padding: 5px;
    }
    
    .container {
        max-width: 900px;
        margin: 16px;
        padding: 16px;
        justify-content: center;
        grid-template-columns: none;
    }
    
    .featuredmovie{
        grid-template-columns: none;
        overflow: hidden;
        border: #ffffff 2px solid;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        border-radius: 16px;
        background-color: #231651;
        color: #ffffff;
    }
    
    .texts{
        display: flex;
        flex-direction: column;
        margin: 16px; 
        text-align: justify;
        justify-content: space-between;
        color: #ffffff;
    }
    
    .texts p{
        font-size: 1em;
    }
    
    
    .lala{  
        padding: 10px;
    }

    #rabbit{
        border-radius: 0;
        margin: 0;
        width: 100%;
        object-fit: cover;
        border-bottom: 2px solid #ffffff;
    }
    
    .now{
        margin: 16px auto 16px auto;
        text-align: center;
        padding: 10px;
    }
    
    .movietexts p{
        font-size: 1.2em;
        
    }

    
    #hook {
        border-radius: 0;
        margin: 0;
        width: 100%;
        object-fit: cover;
        border-bottom: 2px solid #ffffff;
    }
    
    #land{
        width: 100%;
        border-radius: 0;
        margin: 0;
        object-fit: cover;
        border-bottom: 2px solid #ffffff;
        
    }
    
    #hidden{
        border-radius: 0;
        margin: 0;
        border-bottom: 2px solid #ffffff;
        width: 100%;
        height: 100%;
        object-fit: cover;
        
    }
    
    #palm{
        border-radius: 0;
        margin: 0;
        border-bottom: 2px solid #ffffff;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    #barbie{
        border-radius: 0;
        margin: 0;
        border-bottom: 2px solid #ffffff;
        width: 100%;
        height: 100%;
        object-fit: cover;   
    }
    .info p{
        font-size: 1em;
    }
    
    .watch{
        padding: 10px;
        margin: 16px auto 16px auto;
        text-align: center;
    }

}
